node_modules
dist
coverage

.git
.github
.vscode
.idea

.env
.env.*
!.env.example

test
*.log
npm-debug.log*

docker-compose*.yml
docker-compose*.yaml
compose*.yml
compose*.yaml

.gitignore

Dockerfile

.prettierrc

eslint.config.mjs
