# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

MONGO_ROOT_PASSWORD=<mongo_password>
DATABASE_URL=mongodb://root:<MONGO_ROOT_PASSWORD>@localhost:27018/docHub?authSource=admin
ACCESS_TOKEN_SECRET=<random-secret-min-32-chars>
REFRESH_TOKEN_SECRET=<random-secret-min-32-chars>

RESEND_API_KEY=
RESEND_FROM_EMAIL=
APP_URL=<frontend-url>

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=doc-hub

REDIS_URL=redis://localhost:6380
NODE_ENV=dev

BACKEND_URL=<ngrok-public-url>